*{
    margin:0px;
	padding:0px;
	list-style: none;
	text-decoration: none;
	font-family: sans-serif;
	box-sizing: border-box;

}

:root{
	--primary-color: #007bff;
	--secondary-color: #6c757d;
	--background-color: #f8f9fa;
	--text-color: #343a40;
	--card-bg-color: #ffffff;
	--border-color: #dee2e6;
	--font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
	font-family: var(--font-family);
	line-height: 1.6;
	background-color: var(--background-color);
	color: var(--text-color);
	padding-top: 60px;
}

.header{
	width: 100%;
	position:fixed;
	top: 0;
	left: 0;
	background-color: var(--card-bg-color);
	box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
	z-index: 1000;
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	max-width: 1200px;
	margin: 0 auto;
}

.logo{
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--primary-color);
	text-decoration: none;
}

.nav-links{
	list-style: none;
	display: flex;
}

.nav-links li{
	margin-left: 2rem;
}

.nav-links a{
	text-decoration: none;
	color: var(--text-color);
	font-weight: 500;
	transition: color 0.3s ease;
}

.nav-links a:hover{
	color: var(--primary-color);
}
/* Section */
section{
	padding: 4rem 2rem;
	max-width: 1200px;
	margin: 0 auto;
}

h1, h2{
	color: var(--text-color);
	margin-bottom: 1.5rem;
	text-align: center;
}

.hero-section{
	text-align: center;
}

.hero-content{
	display:flex;
	flex-direction: column-reverse;
	align-items: center;
	gap: 2rem;
}

.hero-text h1{
	font-size: 3rem;
}

.hero-image{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	border: 3px solid var(--primary-color);
}

.hero-image img, .placeholder-image{
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-color: var(--secondary-color);
	border-radius: 50%;
}

.project-grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2rem;
}

.project-card{
	background-color: var(--card-bg-color);
	border: 1px solid var(-border-color);
	border-radius: 8px;
	padding: 1.5rem;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
	transition: transform 0.3s ease, box-shadow 0.3 ease;
}

.project-card:hover{
	transform: translateY(-5px);
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.project-thumbnail{
	width: 100%;
	height: 200px;
	background-color: var(--border-color);
	border-radius: 6px;
	margin-bottom: 1rem;
}

.skills-grid{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
}

.skill-item{
	text-align: center;
}

.skill-item img{
	width: 60px;
	height: 60px;
}

footer{
	text-align: center;
	padding: 2rem;
	border-top: 1px solid var(--border-color);
	margin-top: 2rem;
	color: var(--secondary-color)
}